@import "/node_modules/bootstrap/dist/css/bootstrap.css";
#icon{
    height: 11rem;
    position: relative;
    margin-left: 70px;
    align-items: center;
}
body { margin: 0; padding: 0; }
html, body, #map { height: 100%; width:100%}
.container{
    margin: 0;
    padding: 0;
}
.window{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.menu{
    margin: 5%;
}

.col-3 {
background-color: #f5f8d5;
}


.text{
    margin-bottom: 15%
}

.infoContainer{
    overflow: auto;
    height: 450px;
    text-align: justify;
}

.btn-primary{
    margin-top: 15%;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 5%;
    background-color:  #C4D600;
    z-index: 3;
    border: none;
    border-radius: 0.6em;
}
.btn-primary:hover{
    color: white;
}

#button{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
    background-color:  #C4D600;
    z-index: 3;
    border:none;
    border-radius: 0.6em;
    height: 40px;
}
#button:hover{
    color: white;
}
#inputs{
    display: flex;
    justify-content: space-between;
}

.footer{
    width: 23%;
    position: absolute;
    bottom: 0%;
}


#images{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.image{
    height: 30px;
    margin-bottom: 20px;
}

#extra{
    width: 100%;
}

